<md-toolbar color="primary">
  <span>Angular Up 2017 Angular Material Demo</span>
</md-toolbar>
<div fxLayout="row">
  <md-card>
    <md-card-header>
      <h1>Typography</h1>
    </md-card-header>
    <h1>This is unstyled</h1>
    <h1 class="mat-headline">This is styled</h1>
    <button md-button>yo</button>

    <section class="mat-typography">
      <h1>This is styled better!</h1>
      <button md-button>yo</button>
      <span class="my-selector">I have the font size of h1!</span>
    </section>
  </md-card>
  <md-card>
    <md-card-header>
      <h1>Expansion Panel</h1>
    </md-card-header>
    <md-expansion-panel #myPanel>
      <md-expansion-panel-header>
        <md-panel-title>Title</md-panel-title>
        <md-panel-description>Descdesc</md-panel-description>
      </md-expansion-panel-header>
      Content
      <md-action-row>
        <button md-button (click)="myPanel.close()">cancel</button>
        <button md-button color="primary" class="mat-raised-button">save</button>
      </md-action-row>
    </md-expansion-panel>

    <md-accordion>
      <md-expansion-panel #myPanel1>
        <md-expansion-panel-header>
          <md-panel-title>Title</md-panel-title>
          <md-panel-description>Descdesc</md-panel-description>
        </md-expansion-panel-header>
        Content
        <md-action-row>
          <button md-button (click)="myPanel1.close()">cancel</button>
          <button md-button color="primary" class="mat-raised-button">save</button>
        </md-action-row>
      </md-expansion-panel>
      <md-expansion-panel #myPanel2>
        <md-expansion-panel-header>
          <md-panel-title>Title</md-panel-title>
          <md-panel-description>Looooooooooooong Description</md-panel-description>
        </md-expansion-panel-header>
        Content
        <md-action-row>
          <button md-button (click)="myPanel2.close()">cancel</button>
          <button md-button color="primary" class="mat-raised-button">save</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-card>
  
  <md-card>
    <md-card-header>
      <h1>Datepicker</h1>
    </md-card-header>
    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </md-card>
</div>
